.table-style {
    width: 100%;
    table-layout: fixed;
    background-color: #0071AE28;
}

.td-style {
    margin: 0;
    padding: 0;
    text-align: center;
}

.button-style {
    width: 100%;
    appearance: none;
    border-radius: 0;
    position: relative;
    height: 63px;
    margin: 0;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    background: #15b8f026;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.number-style {
    background-repeat: no-repeat;
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    top: 5px;
}

.input-group-style {
    padding: 50px;
    text-align: center;
}

.input-char-style {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: #e5e5e5;
    border-radius: 50%;
    margin: 8px;
}

.input-char-style.active {
    background-color: #2454c8;
}
